 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-table-1 {
  margin: 20px auto 42px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-43 {
  background-image: none;
}

.u-section-1 .u-table-cell-44 {
  background-image: none;
}

.u-section-1 .u-table-cell-45 {
  background-image: none;
}

.u-section-1 .u-table-cell-46 {
  background-image: none;
}

.u-section-1 .u-table-cell-47 {
  background-image: none;
}

.u-section-1 .u-table-cell-48 {
  background-image: none;
}

.u-section-1 .u-table-cell-73 {
  background-image: none;
}

.u-section-1 .u-table-cell-74 {
  background-image: none;
}

.u-section-1 .u-table-cell-75 {
  background-image: none;
}

.u-section-1 .u-table-cell-76 {
  background-image: none;
}

.u-section-1 .u-table-cell-77 {
  background-image: none;
}

.u-section-1 .u-table-cell-78 {
  background-image: none;
}

.u-section-1 .u-table-cell-109 {
  background-image: none;
}

.u-section-1 .u-table-cell-110 {
  background-image: none;
}

.u-section-1 .u-table-cell-111 {
  background-image: none;
}

.u-section-1 .u-table-cell-112 {
  background-image: none;
}

.u-section-1 .u-table-cell-113 {
  background-image: none;
}

.u-section-1 .u-table-cell-114 {
  background-image: none;
}

.u-section-1 .u-table-cell-145 {
  background-image: none;
}

.u-section-1 .u-table-cell-146 {
  background-image: none;
}

.u-section-1 .u-table-cell-147 {
  background-image: none;
}

.u-section-1 .u-table-cell-148 {
  background-image: none;
}

.u-section-1 .u-table-cell-149 {
  background-image: none;
}

.u-section-1 .u-table-cell-150 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    margin-top: 32px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
  }
}